.main {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: space-between;
  background-color: #fcee0a;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 100px;
}

.description {
  width: 100%;
  text-align: center;
  background-color:black;
  font-size: 50px;
  font-style: italic;
  color:#00f0ff;
}

.mockup {
  max-width: 90%;
}

.buttons {
  display: flex;
  gap: 30px;
}

.button {
  background-color: black;
  padding: 0.1em 0.3em;
  border-radius: 10px;
  font-size: 50px;
  color: #00f0ff;
  text-decoration: none;
  cursor: pointer;
}

@media (hover: hover) {
  .button:hover {
    background-color: #00f0ff;
    color: black;
  }
}
