@font-face {
  font-family: 'Blender Pro';
  src: local('Blender Pro Medium'), local('BlenderPro-Medium'),
      url('../fonts/BlenderPro-Medium.woff2') format('woff2'),
      url('../fonts/BlenderPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: local('Blender Pro Heavy'), local('BlenderPro-Heavy'),
      url('../fonts/BlenderPro-Heavy.woff2') format('woff2'),
      url('../fonts/BlenderPro-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: local('Blender Pro Bold'), local('BlenderPro-Bold'),
      url('../fonts/BlenderPro-Bold.woff2') format('woff2'),
      url('../fonts/BlenderPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src: local('Blender Pro Medium Italic'), local('BlenderPro-MediumItalic'),
      url('../fonts/BlenderPro-MediumItalic.woff2') format('woff2'),
      url('../fonts/BlenderPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Blender Pro';
  src: local('Blender Pro Bold Italic'), local('BlenderPro-BoldItalic'),
      url('../fonts/BlenderPro-BoldItalic.woff2') format('woff2'),
      url('../fonts/BlenderPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
